/*Suprime les soulignement des liens*/
a:link{
	text-decoration:none
}
/*Design du bouton*/
.bouton {
	width:35px;
	height:35px;
	background:#2A992B;
	font:bold 30px Arial;
	border-radius:60%;
	border:none;
	color:#fff;
}
/*Couleur de fond sur toutes les pages*/
body{
	background-color: #2A992B;
}
/*Permet la bonne disposition des boutons de navigation*/
div.bouton-aligne{
	display:inline-block;
	width:45%;
	margin:10px 2.5% 10px 2.5%;
	text-align:center;
}
/*Style (police,...) de tous les H1 du menu*/
h1{
	color: white;
	font-size: 20spx;
	font-style: oblique;
	font-weight: 800;
}
footer{
	color: white;
}
/*bouton en haut à droite*/
.retour {
   width:35px;
	height:35px;
	background:#;
	font:bold 25px Arial;
	border-radius:60%;
	border:none;
	color:#fff;
   }
